Header{
    text-align: right;
    background-color: #F6F6F7;
    color: #222222;
    font-size: 4px;
}

#name{
    margin-top: 80px;
    font-size: 18px;
    color: #222222;
}

#price{
    font-size: 12px;
    font-weight: bold;
    color: #222222;
}

#description{
    font-size: 10px;
    font-weight: lighter;
    color: #888888;
    max-width: 1800px;
}

.size{
    font-size: 8px;    
    font-weight: bold; 
    color: #888888;

}

#add{
    border: 2px solid #222222;
    padding:8px;
}

img{
    margin-top: 80px;
    margin-right: 40px;
    float: left;
    height:600px;
}

body{
    float: right;
    
}

a{
    text-decoration: none;
}

.size a{
    color:#C90000;
}